body {
	background-color: #0F1D2F;
}

.navbar-collapse {
	flex-grow: 0 ;
}

.navbar {
	background-color: #132741;
}

.nav-contain {
	padding-left: 7rem;
	padding-right: 7rem;
}
.logo {
	letter-spacing: 0px;
	color: #0ABEAD;
	font-size: 40px;
	text-decoration: none;
	font-weight: 700;
}

.logo:hover {
	color: #0ABEAD;
}

.nav-item {
	padding: 0 20px;
}

.nav-link {
	font-size: 16px;
	font-weight: 500;
}

.navbar-dark .navbar-nav .nav-link:hover {
	color: #0ABEAD;
}

h2 {
	color: #fff;
}

.main-color {
	color: #0ABEAD;
	font-size: 18px;
	font-weight: 500;
}

.main-subtext {
	color: #D3DCEF;
}

.personal-img {
	border: 16px solid #132741;
	border-radius: 50%;
}

.intro-text {
	padding: 4.5rem 0 0 0;
}

.btn {
	border-radius: 30px;
	font-weight: 500;
	color: #fff;
}


.btn-portfolio {
	background-color: #0ABEAD;
	margin-right: 12px;
	width: 160px;
	height: 40px;
}

.btn-resume {
	background-color: #DB6700;
	margin-left: 12px;
	width: 160px;
	height: 40px;
}

.wavy-shape {
	background-image: url("../images/wave-shape.svg");
	background-size: cover;
	background-repeat: no-repeat;
	height: 200px;
}

.cross-path {
	background-image: url("../images/slant-up.svg");
	background-size: cover;
	background-repeat: no-repeat;
	height: 210px;
}

.cross-path2 {
	background-image: url("../images/slant-down.svg");
	background-size: cover;
	background-repeat: no-repeat;
	height: 210px;
}

#case-studies {
  	background-color: #132741;
  	padding: 2rem 0;
}

.h2, .get-touch {
	color: #0ABEAD;
}

.get-touch {
	margin-top: 4.5rem;
}

.underline-ext {
	position: absolute;
	left:0;
	right:0;
	margin-left:auto;
	margin-right:auto;
}

.card {
 height: 300px;
 padding: 3rem;
}

.card-easyride {
	background-color: #8540FF;
	box-shadow: 0px 0px 35px #760DFF59;
	color: #fff;
 	background-image: url("../images/wavy.svg");
 	background-repeat: no-repeat;
 	background-size: cover;
}

.card-photo {
	background-color: #EC407A;
	box-shadow: 0px 3px 35px #EC407A59;
 	background-image: url("../images/wavy-pink.svg");
	color: #fff;	
 	background-repeat: no-repeat;
 	background-size: cover;
}

.card-animation {
	background-color: #ED5423;
	box-shadow: 0px 3px 35px #EC407A59;
	color: #fff;	
 	background-image: url("../images/wavy-orange.svg");
 	background-repeat: no-repeat;
 	background-size: cover;
}

.card-video {
	background-color: #05A6EF;
	box-shadow: 0px 0px 35px #13B6FF59;
	color: #fff;	
 	background-image: url("../images/wavy-blue.svg");
 	background-repeat: no-repeat;
 	background-size: cover;
}

.card-audio {
	background-color: #49AF46;
	box-shadow: 0px 0px 35px #49AF4659;
	color: #fff;	
 	background-image: url("../images/wavy-green.svg");
 	background-repeat: no-repeat;
 	background-size: cover;
}

.card-ui {
	background-color: #EAAD09;
	box-shadow: 0px 0px 35px #49AF4659;
	color: #fff;	
 	background-image: url("../images/wavy-yellow.svg");
 	background-repeat: no-repeat;
 	background-size: cover;
}

.card-anchor, .social-link {
	text-decoration: none;
}

.social-link {
	color: #132741;
}

 .contact-subline {
 	letter-spacing: 6px;
 	color: #95A5C6;
 }

.form-control {
	background-color: #132741;
	border: 1px solid #132741;
}

.btn-contact {
	width: 100%;
	background-color: #0ABEAD;
	border-radius: 8px;
}


.follow-me {
	color: #0ABEAD;
}

.social-icon {
	background-color: #0ABEAD;
	padding: 12px;
	border-radius: 50%;
	margin-right: 8px;
}

.folio-pro-color {
	color: #6E8DB5;
	font-weight: 500;
}

audio, video {
	width: 100%;
}

@media screen and (max-width: 500px) {
	.navbar {
		width: 100%;
	}

	.nav-contain {
		padding-left: .75rem;
		padding-right: .75rem;
	}

	.intro-text {
		padding: 1rem 0;
	}

	.card {
		padding: 1.25rem;
		height: 256px;
	}

	#about-me, #case-studies, #contact {
		padding: 0 .75rem;
	}

	.personal-img {
		margin-bottom: 1rem;
	}

	.card-photo, .card-video, .card-ui {
		margin-top: 1.5rem;
	}

	.btn-portfolio, .btn-resume {
		width: 140px;
	}
	
	.get-touch, .follow-me {
		text-align: center;
	}

	.follow-div {
		display: inline !important;
	}

	.cross-path {
		display: none;
	}

	 .cross-path2 {
		height: 160px;
	}
}